selenium==4.19.0
python-dotenv==0.19.2
inflect==7.4.0
deep-translator==1.11.4
loguru==0.7.2
fuzzywuzzy==0.18.0
pydantic==2.9.2
fastapi==0.115.4
requests==2.32.3
uvicorn==0.32.0
python-Levenshtein==0.26.1
webdriver-manager==4.0.2
httpx==0.28.1
aiohttp==3.11.18
